@font-face {
    font-family: Montserrat;
    src: url('Fonts/Ubuntu-Regular.ttf');
}

#main-screen {
    display: none;
    font-family: 'Montserrat', sans-serif;
}

.skill_stack:hover {
    opacity: 70%;
}

body {
    width: 100%;
}

/*SCROLL BAR*/
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
}

@media only screen and (max-width: 600px) {
    #logo {
        display: none;
    }

    #work {
        text-align: center;
    }

    #stat_cont {
        border-bottom: 1px solid #b0b0b0;
        padding: 15px;
        /*border-radius:8px;*/
        margin-top: 1%;
    }

    #loader {
        object-fit: contain;
    }

    #qoute {
        text-align: center;
    }

    #contact_section {
        text-align: center;
    }

    #myPic {
        max-height: 300px;
        object-fit: contain;
    }
}

html {
    scroll-behavior: smooth;
}

#title {
    font-size: 20px;
}

#myPic {
    border-radius: 30px;
    object-fit: cover;
    height: 80vh;
    border: 2px solid white;
}

#system_preview {
    width: 100%;
    height: 40vh;
    object-fit: contain;
    /* border-radius:10px; */
}

#system_name {
    font-weight: bold;
}

#system_info {
    color: #827d7d;
}

#nav-mobile a {
    font-weight: bold;
}

#mobile-demo a {
    font-weight: bold;
}

#logo {
    font-weight: bold;
}

#floatingBtn {
    display: none;
}

#skill_icon {
    width: 200px;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    margin: 60px auto;
    font-size: 20px;
    position: relative;
    margin-top: 15%;
    text-indent: -9999em;
    border-top: 1.1em solid #000000;
    border-right: 1.1em solid #000000;
    border-bottom: 1.1em solid #000000;
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}