@font-face {
  font-family: Montserrat;
  src: url('Fonts/Ubuntu-Regular.ttf');
}

.wrapper {
  display: grid;
  place-content: center;
  min-height: 5px;
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}

.wrapper>div {
  grid-area: 1/1/-1/-1;
}

.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, rgb(93, 93, 93) 53%, var(--text-color) 65%);
  background: linear-gradient(177deg, rgb(107, 106, 106) 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}

@media (max-width: 768px) {

  /* Adjust the max-width as needed for your desired breakpoint */
  .wrapper {
    font-size: 40px;
    /* Adjust the font size for mobile devices */
  }
}

.circle {
  position: fixed;
  border: solid 1px #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.5);
  pointer-events: none;
  z-index: 9999;
}

* {
  box-sizing: border-box;
}

:root {
  --background-color: black;
  --text-color: hsl(0, 0%, 100%);
}

h1,
p {
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

#main-screen {
  display: none;
  font-family: 'Montserrat', sans-serif;
}


.image-container {
  position: relative;
  transition: transform 0.3s ease;
}

.image-container:hover {
  transform: translateY(-10px);
}

body {
  width: 100%;
  background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 15s;
  cursor: none;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }

  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }

  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }

}

html::-webkit-scrollbar {
  display: none !important;
}

body,
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  height: 100%;
}